.detail_button1{
    margin-top: -1px;
    width: 88px;
}
.center{
    text-align: center;
    
}
.customTools{
    float:right;
    display: flex;
}
.head{
    margin-top:5px !important;
}
.del{
    margin-left:15px
}
.view{
    margin-right:16px;
}
.customView1{
    color:#007bff;
  }